.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-spacing-l);
  border-radius: var(--corner-xl);
  border: var(--border-width-thick) solid transparent;
  cursor: pointer;
  font-family: var(--type-heading-h3-font-family);
  font-size: var(--type-heading-h3-font-size);
  font-weight: var(--type-heading-h3-font-weight);
  line-height: var(--type-heading-h3-line-height);
  text-transform: uppercase;
}

/* State: Default */
.button {
  background-color: var(--color-background-primary-default);
  color: var(--color-text-default);
}

/* State: Hover */
.button:hover:not(:disabled) {
  border-color: var(--color-border-primary-subtle);
  color: var(--color-text-default);
}

/* State: Active */
.button:active:not(:disabled) {
  border-color: var(--color-border-primary-subtle);
  color: var(--color-text-primary-default);
}

/* State: Disabled */
.button:disabled {
  background-color: var(--color-background-default);
  border-color: var(--color-border-disabled);
  color: var(--color-text-disabled);
  opacity: 0.5;
  cursor: not-allowed;
}
