.logo {
  display: flex;
  align-items: center;
  gap: var(--space-spacing-l);
}

.icon {
  width: 62px;
  height: 62px;
  flex-shrink: 0;
}

.text {
  width: 289px;
  height: 53px;
  flex-shrink: 0;
}
