.message {
  display: inline-flex;
  align-items: center;
  padding: var(--space-spacing-l);
  border-radius: var(--corner-xl);
  max-width: 100%;
}

.bot {
  background-color: var(--color-background-default);
  align-self: flex-start;
}

.user {
  background-color: var(--color-background-inverted-default);
  align-self: flex-end;
}

.text {
  font-family: var(--type-body-default-font-family);
  font-size: var(--type-body-default-font-size);
  font-weight: var(--type-body-default-font-weight);
  line-height: var(--type-body-default-line-height);
}

.bot .text {
  color: var(--color-text-default);
}

.user .text {
  color: var(--color-text-inverted-default);
}
