.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--space-spacing-xxl);
  height: var(--space-spacing-xxl);
  color: inherit;
}

.svg {
  display: block;
  flex-shrink: 0;
}
