.navItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-spacing-l) 0;
  text-decoration: none;
  border-bottom: var(--border-width-thick) solid transparent;
}

.navItem span {
  font-family: var(--type-heading-h3-font-family);
  font-size: var(--type-heading-h3-font-size);
  font-weight: var(--type-heading-h3-font-weight);
  line-height: var(--type-heading-h3-line-height);
  text-transform: uppercase;
}

/* State: Default */
.default span {
  color: var(--color-text-subtle);
}

/* State: Hover */
.navItem:hover span {
  color: var(--color-text-default);
}

/* State: Active */
.active {
  border-bottom: var(--border-width-thick) solid var(--color-text-primary-default);
}

.active span {
  color: var(--color-text-primary-default);
}
