.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--space-padding) 0;
}

.navigation {
  display: flex;
  align-items: center;
  gap: var(--space-gap);
}
