@import './tokens.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-family-body), Arial, Helvetica, sans-serif;
  font-size: var(--type-body-default-font-size);
  line-height: var(--type-body-default-line-height);
  font-weight: var(--type-body-default-font-weight);
}

/* Headings */
h1 {
  font-family: var(--font-family-heading);
  font-size: var(--type-heading-h1-font-size);
  line-height: var(--type-heading-h1-line-height);
  font-weight: var(--type-heading-h1-font-weight);
}

h2 {
  font-family: var(--font-family-heading);
  font-size: var(--type-heading-h2-font-size);
  line-height: var(--type-heading-h2-line-height);
  font-weight: var(--type-heading-h2-font-weight);
}

h3 {
  font-family: var(--font-family-heading);
  font-size: var(--type-heading-h3-font-size);
  line-height: var(--type-heading-h3-line-height);
  font-weight: var(--type-heading-h3-font-weight);
}
