.mainContent {
  padding: var(--space-padding) 0;
}

.contentWrapper {
  display: flex;
  gap: var(--space-gap);
  align-items: start;
}

.orderSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-gap);
  justify-content: center;
}

.orderInfo {
  display: flex;
  flex-direction: column;
  gap: var(--space-spacing-m);
}

.orderInfoDescription {
  color: var(--color-text-subtle);
}

.pizzaGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-gap);
}

.pizzaGridItem {
  width: 100%;
  min-width: 0;
}

.divider {
  width: var(--border-width-thick);
  background-color: var(--color-border-default);
  align-self: stretch;
}

.cartSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-gap);
  align-self: stretch;
}

.cartWrapper {
  display: flex;
  gap: var(--space-gap);
  align-items: start;
}

.cartTextContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-spacing-s);
}

.cartDescription {
  color: var(--color-text-subtle);
}

.cartItems {
  display: flex;
  flex-direction: column;
}

.emptyBlockFill {
  flex: 1;
}
